<header class="main-header">
    <div class="row">
      <h1>Give the Gift
        <span>of the Outdoors</span>
      </h1>
      <p class="description">Join us this Christmas to give the gift of the outdoors to someone who can’t get there on their own. Our goal is to have someone claim each of the values below by the end of the year. It’s simple - if every amount below is donated, we can raise $20,000 for our 2018 programs without a single person having to give over $200. So go ahead, pick your amount and give a life changing experience to a kid through GOAT! <a href="/goal">Check out our progress!</a></p>
    </div>
  </header>


  <h2 class="donate-header">CHOOSE YOUR DONATION AMOUNT</h2>

  <div class="bigbox">
    <% @donations.each do |donation| %>
      <% if donation.paid? %>
      <div class="giftbox complete material-icons"><span class="vertical-aligned">check</span></div>
      <!-- $<%= donation.amount %>.00 -->
      <% else %>
      <div class="giftbox">
        <div class="vertical-aligned">
            <button id="donation-button-<%= donation.id %>" class="donation-button" style="visibility: visible;" data-amount="<%= donation.amount*100 %>" data-id="<%= donation.id %>">$<%= donation.amount %></button>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>


  <div class="container">
    <div class="footer row">
      <div class="col-md-6">
        <p>To learn more about <a href="http://goattrips.org">GOAT</a>, you can visit our website at <a href="http://goattrips.org">goattrips.org</a> or on <a href="http://facebook.com/goattrips">facebook</a>.</p>
        <p>All donations are processed securely by <a href="http://stripe.com">Stripe</a>.</p>
      </div>
    </div>
  </div>

  <script type="text/javascript">
      var stripe = Stripe('<%= settings.publishable_key %>');
      var donationButtons = document.getElementsByClassName("donation-button");

      for(var i = 0; i < donationButtons.length; i++) {
        donationButtons[i].addEventListener('click', function() {
          var url = `/checkout?donation_id=${this.dataset.id}`;
          fetch(url, {
            method: 'POST'
          })
          .then(function(response) {
            return response.json();
          })
          .then(function(session) {
            return stripe.redirectToCheckout({ sessionId: session.id });
          })
          .then(function(result) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, you should display the localized error message to your
            // customer using `error.message`.
            if (result.error) {
              alert(result.error.message);
            }
          })
          .catch(function(error) {
            console.error('Error:', error);
          });
        });
      }
    </script>
